[Unit]
Description=Droid mount for /mnt/vendor/efs_backup
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/dev/sda6
Where=/mnt/vendor/efs_backup
Type=f2fs
Options=noatime,sync
# Options had SELinux context option:  

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

# From ./out/target/product/panther/vendor/etc/fstab.modem :
# /dev/sda5_backup      /mnt/vendor/efs_backup      f2fs    noatime,sync             wait,check,formattable
