[Unit]
Description=Droid mount for /mnt/vendor/modem_img
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/dev/sda29
Where=/mnt/vendor/modem_img
Type=ext4
Options=noatime,ro
# Options had SELinux context option:  context=u:object_r:modem_img_file:s0

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

# From ./out/target/product/panther/vendor/etc/fstab.modem :
# /dev/block/platform/14700000.ufs/by-name/modem           /mnt/vendor/modem_img       ext4    noatime,ro,context=u:object_r:modem_img_file:s0    wait,slotselect
